body {
    background: #333;
    color: #fff;
    overflow-x: hidden;
}

#home-section {
    min-height: 700px;
}

#home-section .home-inner {
    padding-top: 70px;
}

#home-section .card-form {
    opacity: 0.8;
}

#home-section .fa {
    color: #008ed6;
    background: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: 30px;
}

span {
    color: red;
}