<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Add Deal</title>
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" rel="stylesheet">
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <style>span {
        color: red
    }</style>
</head>
<body>
<div th:include="leadnavigation :: navbar"></div>
<div th:replace="leadnavigation :: sidebar"></div>

<div class="d-inline-block mt-5" style="width:77vw; vertical-align: top;">

    <h2 class="text-center">Add New Deal</h2>
    <div class="text-center py-3">
        <img height="100vh" th:src="@{/images/logo.png}" width="100vw">
    </div>
    <div class="container w-25">
        <form method="post" th:action="@{/lead/{leadId}/add-deal(leadId=${leadId})}" th:object="${dealDto}">

            <div>
                <label for="sname">Deal name</label>
                <input class="form-control mb-4" id="sname" placeholder="Enter the Deal..." th:field="*{dealName}"
                       type="text">
                <span th:errors="*{dealName}" th:if="${#fields.hasAnyErrors()}"></span>
            </div>

            <div>
                <label for="lname">Deal Worth</label>
                <input class="form-control mb-4" id="lname" placeholder="Enter the worth..." th:field="*{worth}"
                       type="text">
                <span th:errors="*{worth}" th:if="${#fields.hasAnyErrors()}"></span>
            </div>
            <h5 style="color: mediumseagreen" th:if="${!message.isEmpty()}" th:text="${message}"></h5>
            <button class="btn btn-info my-4 btn-block" type="submit">add deal</button>
            <hr>
        </form>
    </div>
</div>
<script crossorigin="anonymous"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>