<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREATE TASK</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css"/>

</head>


<div th:include="dashboard :: navbar"></div>
<div class="d-flex">
    <div th:replace="dashboard :: sidebar"></div>

    <div class="d-inline-block mt-5" style="width:77vw; vertical-align: top;">

        <h2 class="text-center">Create task</h2>
        <div class="text-center py-3">
            <img th:src="@{../images/logo.png}" height="100vh" width="100vw">
        </div>
        <div th:if="${taskSaved}" class="alert alert-success alert-dismissible fade show text-center py-2">
            <button class = "close" data-dismiss="alert" type="button"><span>&times;</span></button>
            <Strong>Success</Strong> TASK ASSIGNED SUCCESSFULLY.
        </div>
        <div class="container w-50">
            <form th:action="@{/addTask}" method="POST" th:object="${taskDto}">

                <div class="form-group py-1">
                    <label for="name">Enter task name</label>
                    <input th:field="*{taskName}" type="text" id="name" class="form-control"
                           placeholder="Enter task name...">
                    <small th:if="${#fields.hasErrors('taskName')}" th:errors="*{taskName}" class="text-danger"></small>
                </div>
                <div class="form-group py-1">
                    <label for="taskBody">Enter task description</label>
                    <textarea th:field="*{taskDescription}" type="text" id="taskBody" class="form-control"
                              placeholder="Enter task description..."></textarea>
                    <small th:if="${#fields.hasErrors('taskDescription')}" th:errors="*{taskDescription}"
                           class="text-danger"></small>
                </div>


                <div class="form-group">
                    <label for="time">Enter task time</label>
                    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                        <input type="text" th:field="*{taskTime}" id="time" class="form-control datetimepicker-input" data-target="#datetimepicker1" placeholder="Enter time"/>
                        <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                    <small th:if="${#fields.hasErrors('taskTime')}" th:errors="*{taskTime}"
                           class="text-danger"></small>
                </div>

                <div sec:authorize="hasRole('ROLE_ADMIN')" class="form-group">
                    <label for="user">Select user</label>
                    <select class="form-control" id="user" th:field="*{userName}">
                        <option value="123">Select user</option>
                        <option th:each="user : ${users}" th:value="${user.name}" th:text="${user.name}"></option>
                    </select>
                </div>

                <div sec:authorize="hasRole('ROLE_ADMIN')" class="form-group">
                    <label for="lead">Select lead</label>
                    <select class="form-control" id="lead" th:name="lead">
                        <option disabled="disabled" selected="selected">Select lead</option>
                    </select><br>
                    <small th:if="${leadError}" class="text-danger">PLEASE ASSIGN A LEAD FOR THE GIVEN TASK.</small>
                </div>

                <div sec:authorize="hasRole('ROLE_USER')" class="form-group">
                    <label for="user1">Select user</label>
                    <select class="form-control" id="user1" th:field="*{userName}">
                        <option value="123">Select user</option>
                        <option th:each="user : ${users}" th:value="${user.name}" th:text="${user.name}"></option>
                    </select>
                </div>


                <div sec:authorize="hasRole('ROLE_USER')" class="form-group">
                    <label for="lead1">Select lead</label>
                    <select class="form-control" id="lead1" th:name="lead">
                        <option th:each="lead : ${leads}" th:value="${lead.getId()}" th:text="${lead.name}">Select lead</option>
                    </select><br>
                    <small th:if="${leadError}" class="text-danger">PLEASE ASSIGN A LEAD FOR THE GIVEN TASK.</small>
                </div>

                <div class="form-group">
                    <button type="submit" class="form-control btn btn-primary mb-5">Add Task</button>
                </div>
                <div class="mt-4">
                    <a th:href="@{/goBack}" class="text-danger">Back to dashboard</a>
                </div>
            </form>

        </div>

    </div>

</div>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({
                format: 'DD/MM/YYYY h:mm A'
            }

        );
    });

    $('#user').change(
        function() {
            $.getJSON("http://localhost:8080/getLeads", {
                username: $(this).val(),
                ajax: 'true'
            },function(data) {
                console.log(data);
                var html = '<option value="">Select lead</option>';
                var len = data.length;
                for(var i = 0; i < len; i++) {
                    html += '<option th:value="' + data[i].name + '">' + data[i].name + '</option>';
                }
                console.log(html);
                $('#lead').html(html);
            });
        });

    $('#user1').change(
        function() {
            $.getJSON("http://localhost:8080/getLeads", {
                username: $(this).val(),
                ajax: 'true'
            },function(data) {
                console.log(data);
                var html = '<option value="">Select lead</option>';
                var len = data.length;
                for(var i = 0; i < len; i++) {
                    html += '<option th:value="' + data[i].name + '">' + data[i].name + '</option>';
                }
                console.log(html);
                $('#lead1').html(html);
            });
        });


</script>


</body>
</html>
