<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>SALES CRM</title>
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" rel="stylesheet">
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
</head>
<body>
<div th:include="dashboard :: navbar"></div>
<div th:replace="dashboard :: sidebar"></div>

<div class="d-inline-block mt-5" style="width:77vw; vertical-align: top;">

    <h2 class="text-center">NEW USER REGISTRATION</h2>
    <div class="text-center py-3">
        <img height="100vh" th:src="@{../images/logo.png}" width="100vw">
    </div>
    <div class="container w-50">
        <form method="POST" th:acton="@{/addUser}" th:object="${userDto}">

            <div class="form-group py-1">
                <label for="name">Name</label>
                <input class="form-control" id="name" placeholder="Enter name..." th:field="*{name}" type="text">
                <small class="text-danger" th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></small>
            </div>
            <div class="form-group py-1">
                <label for="contact">Contact No</label>
                <input class="form-control" id="contact" placeholder="Enter contact no..." th:field="*{mobile}"
                       type="number">
                <small class="text-danger" th:errors="*{mobile}" th:if="${#fields.hasErrors('mobile')}"></small>
            </div>
            <div class="form-group py-1">
                <label for="email">Email</label>
                <input class="form-control" id="email" placeholder="Enter email..." th:field="*{email}" type="email">
                <small class="text-danger" th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></small>
            </div>
            <p class="alert text-success" th:text="${message}"></p>
            <input th:field="*{password}" type="hidden">
            <input th:field="*{matchingPassword}" type="hidden">
            <div class="form-group">
                <button class="form-control btn btn-primary mb-5" type="submit">Add team member</button>
            </div>
            <div class="mt-4">
                <a class="text-danger" th:href="@{/goBack}">Back to dashboard</a>
            </div>
        </form>

    </div>

</div>

</div>

<script crossorigin="anonymous"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>