
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SALES CRM</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div th:include="dashboard :: navbar"></div>
    <div class="d-flex">
    <div th:replace="dashboard :: sidebar" style="min-height:100%;"></div>
    <div class="d-inline-block align-top" style="width:77vw;">

        <h2 class="text-center">TEAM LEADER DASHBOARD</h2>
        <div class="text-center py-3">
            <img th:src="@{../images/logo.png}" height="100vh" width="100vw">
        </div>


        <div class="w-100 d-flex justify-content-around">
            <div class="border border-dark m-3" style="text-align: center; width:17vw;">
                <div class="text-primary border border-dark m-3 bg-light">
                    Total Deals :
                    <span class="text-primary center" th:text="${totalDeals}"></span>
                </div>
                <div class="text-success border border-dark m-3 bg-light">
                    Successful Deals :
                    <span class="text-success center" th:text="${successfulDeals}"></span>
                </div>
                <div class="text-danger border border-dark m-3 bg-light">
                    Unsuccessful Deals :
                    <span class="text-danger center" th:text="${unSuccessfulDeals}"></span>
                </div>
            </div>
            <div class="border border-dark m-3" style="text-align: center; width:17vw;">
                <div class="text-primary border border-dark m-3 bg-light">
                    Total Worth :
                    <span class="text-primary center" th:text="${totalDealWorth}"></span>
                </div>
                <div class="text-success border border-dark m-3 bg-light">
                    Worth Gained :
                    <span class="text-success center" th:text="${successfulDealWorth}"></span>
                </div>
                <div class="text-danger border border-dark m-3 bg-light">
                    Worth Pending :
                    <span class="text-danger center" th:text="${unSuccessfulDealWorth}"></span>
                </div>
            </div>
            <div class="border border-dark m-3" style="text-align: center; width:17vw;">
                <div class="text-primary border border-dark m-3 bg-light">
                    Total Leads :
                    <span class="text-primary center" th:text="${totalLeads}"></span>
                </div>
                <div class="text-success border border-dark m-3 bg-light">
                    Leads Done :
                    <span class="text-success center" th:text="${leadsConverted}"></span>
                </div>
                <div class="text-danger border border-dark m-3 bg-light">
                    Leads Pending :
                    <span class="text-danger center" th:text="${leadsPending}"></span>
                </div>
            </div>
            <div class="border border-dark m-3" style="text-align: center; width:17vw;">
                <div class="text-primary border border-dark m-3 bg-light">
                    Task Assigned :
                    <span class="text-primary center" th:text="${totalTasks}"></span>
                </div>
                <div class="text-success border border-dark m-3 bg-light">
                    Emails Sent :
                    <span class="text-success center" th:text="${totalEmails}"></span>
                </div>
                <div class="text-danger border border-dark m-3 bg-light">
                    Sms Sent :
                    <span class="text-danger center" th:text="${totalMessages}"></span>
                </div>
            </div>
        </div>



        <div class=" container table-responsive mt-3">
            <form th:action="@{/admin}" class="mb-2">
                <div class="form-row">
                    <div class="col">
                        <select class="form-control mr-2" id="sortBy" th:name="sortBy">
                            <option>Sort By</option>
                            <option>Most recent</option>
                            <option>Oldest first</option>
                        </select>
                    </div>
                    <div class="col">
                        <select class="form-control mr-2" id="SelectUser" th:name="selectUser">
                            <option disabled="disabled" selected>Select user</option>
                            <option th:each="user : ${selectUsers}" th:value="${user.name}"
                                    th:text="${user.name}"></option>
                        </select>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-secondary">Search</button>
                    </div>
                </div>
            </form>
            <table class="table table-hover table-sm table-bordered">
                <thead>
                <tr class="table-active">
                    <th class="text-nowrap">User ID</th>
                    <th class="text-nowrap">User name</th>
                    <th>Role</th>
                    <th>Email</th>
                    <th>Lead</th>
                    <th class="text-nowrap">Task Assigned</th>
                    <th class="text-nowrap">Task Assigned on</th>
                    <th class="text-nowrap">Task Deadline</th>
                    <th class="text-nowrap">Task status</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="task : ${tasks}">
                    <td th:text="${task.user.getId()}"></td>
                    <td th:text="${task.user.getName()}"></td>
                    <td th:if="${task.getUser().getRole().getName()=='ROLE_ADMIN'}">Lead</td>
                    <td th:if="${task.getUser().getRole().getName()=='ROLE_USER'}">Member</td>
                    <td th:text="${task.user.getEmail()}"></td>
                    <td th:text="${task.getLead().getName()}"></td>
                    <td th:text="${task.getTaskName()}"></td>
                    <td th:text="${task.getCreatedAt()}"></td>
                    <td th:text="${task.getTaskTime()}"></td>
                    <td th:text="${task.getTaskStatus()}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="container mt-2">
            <h4 class="font-weight-normal">Team members</h4>
            <table class="table table-hover table-sm table-bordered">
                <thead>
                <tr class="table-active">
                    <th class="text-nowrap">User ID</th>
                    <th class="text-nowrap">User name</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${members}">
                    <td th:text="${user.getId()}"></td>
                    <td><a th:href="@{/goToUserProfile/{userId}(userId=${user.getId()})}" th:text="${user.getName()}"></a></td>
                    <td th:text="${user.getEmail()}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="container mt-2">
            <h4 class="font-weight-normal">Team leads</h4>
            <table class="table table-hover table-sm table-bordered">
                <thead>
                <tr class="table-active">
                    <th class="text-nowrap">Lead name</th>
                    <th class="text-nowrap">Lead phone</th>
                    <th class="text-nowrap">Lead Email</th>
                    <th class="text-nowrap">Lead position</th>
                    <th class="text-nowrap">Lead points</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="lead : ${teamLeads}">
                    <td><a th:href="@{/lead-actions(leadId=${lead.getId()})}" th:text="${lead.getName()}"></a></td>
                    <td th:text="${lead.getMobile()}"></td>
                    <td th:text="${lead.getEmail()}"></td>
                    <td th:text="${lead.getPosition()}"></td>
                    <td th:text="${lead.getPoints()}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="container mt-2">
            <h4 class="font-weight-normal">Team Deals</h4>
            <table class="table table-hover table-sm table-bordered">
                <thead>
                <tr class="table-active">
                    <th class="text-nowrap">Deal id</th>
                    <th class="text-nowrap">Deal name</th>
                    <th class="text-nowrap">Deal worth</th>
                    <th class="text-nowrap">Deal status</th>
                    <th class="text-nowrap">Lead</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="deal : ${teamDeals}">
                    <td th:text="${deal.getId()}"></td>
                    <td th:text="${deal.getDealName()}"></td>
                    <td th:text="${deal.getWorth()}"></td>
                    <td th:text="${deal.getStatus()}"></td>
                    <td th:text="${deal.getLead().getName()}"></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    </div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>
