<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>CREATE TASK</title>
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" rel="stylesheet">
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css"
          rel="stylesheet"/>

</head>
<body>

<div th:include="dashboard :: navbar"></div>
<div th:replace="dashboard :: sidebar"></div>

<div class="d-inline-block mt-5" style="width:77vw; vertical-align: top;">


    <div>

        <label for="pending" style="color:#46b8da;font-size: 30px"> Open Deals</label>
        <div class="container" id ="pending"style="width: 100%;">
            <table class="table" style="width:100%">
                <thead>
                <tr>
                    <th>User Name</th>
                    <th>Deal Name</th>
                    <th>worth</th>
                    <th>Dealed To</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                </thead>
                <tbody th:each="deal:${pendingDeals}">
                <tr>
                    <td th:text="${deal.lead.user.name}"></td>
                    <td th:text="${deal.dealName}"></td>
                    <td th:text="${deal.worth}"></td>
                    <td th:text="${deal.lead.name}"></td>
                    <td th:if="${!deal.status}" th:text="'Open'" style="color: red"></td>
                    <td>
                        <a class="table-link"
                           href="#"
                           th:href="@{/lead/{leadId}/deal/{dealId}/deal-success(leadId=${deal.lead.id},dealId=${deal.id})}">
                            <button class="btn btn-danger" type="button">Deal</button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <label for="success" style="color:#46b8da;font-size: 30px;margin-top: 30px"> Closed Deals</label>
        <div class="container" id ="success"style="width: 100%;">
            <table class="table" style="width:100%">
                <thead>
                <tr>
                    <th>User Name</th>
                    <th>Deal Name</th>
                    <th>worth</th>
                    <th>Dealed To</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                </thead>
                <tbody th:each="deal:${successDeals}">
                <tr>
                    <td th:text="${deal.lead.user.name}"></td>
                    <td th:text="${deal.dealName}"></td>
                    <td th:text="${deal.worth}"></td>
                    <td th:text="${deal.lead.name}"></td>
                    <td th:if="${deal.status}" th:text="'close'" style="color: mediumseagreen;font-size: 20px"></td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>


<script crossorigin="anonymous"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"
        type="text/javascript"></script>
</body>
</html>


