<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>CREATE TASK</title>
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" rel="stylesheet">
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css"/>
    <style>span{color: red}</style>

</head>
<body>

<div th:include="dashboard :: navbar"></div>
<div th:replace="dashboard :: sidebar"></div>

<div class="d-inline-block mt-5" style="width:77vw; vertical-align: top;">

    <h2 class="text-center">Create Deal</h2>
    <div class="text-center py-3">
        <img height="100vh" th:src="@{../images/logo.png}" width="100vw">
    </div>

    <div class="container w-25">
        <form method="POST" th:action="@{/assign-deal}" th:object="${dealDto}">

            <div>
                <label for="sname">Deal name</label>
                <input class="form-control mb-4" id="sname" placeholder="Enter the Deal..." th:field="*{dealName}"
                       type="text">
                <span th:errors="*{dealName}" th:if="${#fields.hasAnyErrors()}"></span>
            </div>

            <div>
                <label for="lname">Deal Worth</label>
                <input class="form-control mb-4" id="lname" placeholder="Enter the worth..." th:field="*{worth}"
                       type="text">
                <span th:errors="*{worth}" th:if="${#fields.hasAnyErrors()}"></span>
            </div>

            <div class="form-group">
                <label for="user">Select user</label>
                <select class="form-control" id="user" th:field="*{userName}">
                    <option th:each="user : ${users}" th:text="${user.name}" th:value="${user.name}"></option>
                </select>
            </div>

            <div class="form-group">
                <label for="lead">Select lead</label>
                <select class="form-control" id="lead" th:name="lead">
                    <option disabled="disabled" selected="selected">Select lead</option>
                </select><br>
                <span th:if="${error}" class="text-danger">PLEASE ASSIGN A LEAD FOR THE GIVEN TASK.</span>
            </div>

            <h5 style="color: mediumseagreen;font-size: 20px" th:if="${message}" > Deal assigned to lead</h5>

            <div class="form-group">
                <button class="form-control btn btn-primary mb-5" type="submit">Add Deal</button>
            </div>

        </form>

    </div>

</div>

</div>


<script crossorigin="anonymous"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"
        type="text/javascript"></script>

<script type="text/javascript">

    $('#user').change(
        function () {
            $.getJSON("http://localhost:8080/getLeads", {
                username: $(this).val(),
                ajax: 'true'
            }, function (data) {
                console.log(data);
                var html = '<option value="">Select lead</option>';
                var len = data.length;
                for (var i = 0; i < len; i++) {
                    html += '<option th:value="' + data[i].name + '">' + data[i].name + '</option>';
                }
                console.log(html);
                $('#lead').html(html);
            });
        });

</script>


</body>
</html>