<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>SALES CRM</title>
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" rel="stylesheet">
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
</head>
<body>
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand h2" th:href="@{/admin}">
                <img class="align-middle" height="60vh" src="../images/logo.png" width="60vw"/>
                <span class="h3 font-weight-light ml-2 align-middle">Close</span>
            </a>
            <button class="navbar-toggler" data-target="#navbarNav" data-toggle="collapse"><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto nav-pills">
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-secondary text-light" th:href="@{/logout}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>


<div th:fragment="sidebar" class="bg-dark d-inline-block" style="min-height: 100vh;height: inherit;width:20vw;overflow-y: auto;">
    <div class="text-center text-light py-5">
        <img src="../images/user.png">


        <a class="lead text-light" sec:authorize="hasRole('ADMIN')" th:href="@{/admin}"
           th:text="${#authentication.name}"></a>
        <a class="lead text-light" sec:authorize="hasRole('USER')" th:href="@{/user}"
           th:text="${#authentication.name}"></a>


        <h6 class="font-weight-normal text-secondary" sec:authorize="hasRole('ADMIN')">Team Leader</h6>
        <h6 class="font-weight-normal text-secondary" sec:authorize="hasRole('USER')">Team member</h6>
    </div>

    <ul class="list-group">
        <button sec:authorize="hasRole('ADMIN')" class="btn btn-dark border border-secondary" data-target="#collapse-btn-1" data-toggle="collapse"
                style="font-size: 2vh;">Users
        </button>
        <button sec:authorize="hasRole('USER')" class="btn btn-dark border border-secondary" data-target="#collapse-btn-1" data-toggle="collapse"
                style="font-size: 2vh;">Profile
        </button>
        <div class="collapse text-center" id="collapse-btn-1">
            <ul class="list-group">
                <a  class="list-group-item text-light btn btn-secondary" sec:authorize="hasRole('ROLE_ADMIN')"
                   style="background-color: black;"
                   th:href="@{/addUser}">Add user</a>
                <a class="list-group-item text-light btn btn-secondary" sec:authorize="hasRole('ROLE_ADMIN')"
                   style="background-color: black;"
                   th:href="@{/importUsers}">Add users via file import</a>

                <a  class="list-group-item text-light btn btn-secondary"sec:authorize="hasRole('USER')"
                   style="background-color: black;"
                    th:href="@{/user}">Dashboard</a>
                <a  class="list-group-item text-light btn btn-secondary" sec:authorize="hasRole('USER')"
                   style="background-color: black;"
                    th:href="@{/setting}">Settings</a>

            </ul>
        </div>
    </ul>

    <ul class="list-group">
        <button class="btn btn-dark border border-secondary" data-target="#collapse-btn-2" data-toggle="collapse"
                style="font-size: 2vh;">Emails
        </button>
        <div class="collapse text-center" id="collapse-btn-2">
            <ul class="list-group">
                <a class="list-group-item text-light btn btn-secondary" style="background-color: black;"
                   th:href="@{/view-emails}">View emails</a>
            </ul>
        </div>
    </ul>

    <ul class="list-group">
        <button class="btn btn-dark border border-secondary" data-target="#collapse-btn-3" data-toggle="collapse"
                style="font-size: 2vh;">Tasks
        </button>
        <div class="collapse text-center" id="collapse-btn-3">
            <ul class="list-group">
                <a class="list-group-item text-light btn btn-secondary" style="background-color: black;"
                   sec:authorize="hasRole('ADMIN')" th:href="@{/addTask}">Create task</a>
                <a class="list-group-item text-light btn btn-secondary" style="background-color: black;"
                   sec:authorize="hasRole('USER')" th:href="@{/addTask}">New task</a>
                <a class="list-group-item text-light btn btn-secondary" style="background-color: black;"
                   sec:authorize="hasRole('ADMIN')" th:href="@{/viewMyTasks}">View my Tasks</a>
                <a class="list-group-item text-light btn btn-secondary" sec:authorize="hasRole('ADMIN')"
                   style="background-color: black;" th:href="@{/viewOtherTasks}">View other's
                    tasks</a>
            </ul>
        </div>
    </ul>

    <ul class="list-group" sec:authorize="hasRole('ROLE_ADMIN')">
        <button class="btn btn-dark border border-secondary" data-target="#collapse-btn-4" data-toggle="collapse"
                style="font-size: 2vh;">Deals
        </button>
        <div class="collapse text-center" id="collapse-btn-4">
            <ul class="list-group">
                <a class="list-group-item text-light btn btn-secondary" href="" style="background-color: black;"
                   th:href="@{/all-deals}">All
                    deals</a>
                <a class="list-group-item text-light btn btn-secondary" href="" style="background-color: black;"
                   th:href="@{/assign-deal}">Add
                    deal</a>

            </ul>
        </div>
    </ul>

    <ul class="list-group" >
        <button class="btn btn-dark border border-secondary" data-target="#collapse-btn-5" data-toggle="collapse"
                style="font-size: 2vh;">Leads
        </button>
        <div class="collapse text-center" id="collapse-btn-5">
            <ul class="list-group">
                <a sec:authorize="hasRole('ADMIN')" class="list-group-item text-light btn btn-secondary" href="" style="background-color: black;"
                   th:href="@{/add-lead}">Add
                    Lead</a>
                <a sec:authorize="hasRole('USER')" class="list-group-item text-light btn btn-secondary" href="" style="background-color: black;"
                   th:href="@{/lead}">Add
                    Lead</a>
            </ul>
        </div>
    </ul>
    <ul sec:authorize="hasRole('USER')" class="list-group">
        <button class="btn btn-dark border border-secondary" data-target="#collapse-btn-12" data-toggle="collapse"
                style="font-size: 2vh;">Deals
        </button>
        <div class="collapse text-center" id="collapse-btn-12">
            <ul class="list-group">
                <a class="list-group-item text-light btn btn-secondary" style="background-color: black;"
                   th:href="@{/user-deal}">Add Deal</a>

            </ul>
        </div>
    </ul>

    <ul class="list-group">
        <button class="btn btn-dark border border-secondary" data-target="#collapse-btn-11" data-toggle="collapse"
                style="font-size: 2vh;">Make call
        </button>
        <div class="collapse text-center" id="collapse-btn-11">
            <ul class="list-group">
                <a class="list-group-item text-light btn btn-secondary" style="background-color: black;"
                   th:href="@{https://www.skype.com/en/}">Audio Call</a>
                <a class="list-group-item text-light btn btn-secondary" style="background-color: black;"
                   th:href="@{https://zoom.us/}">Video Call</a>
            </ul>
        </div>
    </ul>


</div>

<div class="d-inline-block bg-danger" style="height:100vh; width:77vw;"></div>


<script crossorigin="anonymous"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>