<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Add lead</title>
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" rel="stylesheet">
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>span{color: red}</style>
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand h2" href="#">
            <img class="align-middle" height="60vh" src="images/logo.png" th:src="@{/images/logo.png}" width="60vw"/>
            <span class="h3 font-weight-light ml-2 align-middle">Close</span>
        </a>
        <button class="navbar-toggler" data-target="#navbarNav" data-toggle="collapse"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto nav-pills">
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-secondary text-light" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="d-flex flex-row">
    <div class="bg-dark w-25" style="min-height: 100vh">
        <div class="text-center text-light py-5">
            <img src="images/user.png">
            <h3 class="font-weight-normal mt-3" th:text="${user.getName()}"></h3>
            <h5 class="font-weight-normal text-secondary">Team member</h5>
        </div>
        <ul class="list-group">
            <button class="btn btn-dark border border-secondary" data-target="#collapse-btn-1" data-toggle="collapse"
                    style="font-size: 2vh;">Profile
            </button>
            <div class="collapse text-center" id="collapse-btn-1">
                <ul class="list-group">
                    <a class="list-group-item text-light btn btn-secondary" style="background-color: black;"
                       th:href="@{/user}">Dashboard</a>
                </ul>
                <ul class="list-group">
                    <a class="list-group-item text-light btn btn-secondary" style="background-color: black;"
                       th:href="@{/setting}">Settings</a>
                </ul>
            </div>
        </ul>
        <ul class="list-group">
            <button class="btn btn-dark border border-secondary" data-target="#collapse-btn-2" data-toggle="collapse"
                    style="font-size: 2vh;">Emails
            </button>
            <div class="collapse text-center" id="collapse-btn-2">
                <ul class="list-group">
                    <a class="list-group-item text-light btn btn-secondary" style="background-color: black;"
                       th:href="@{/view-emails}">View Emails</a>
                </ul>
            </div>
        </ul>

        <ul class="list-group">
            <button class="btn btn-dark border border-secondary" data-target="#collapse-btn-3" data-toggle="collapse"
                    style="font-size: 2vh;">Tasks
            </button>
            <div class="collapse text-center" id="collapse-btn-3">
                <ul class="list-group">
                    <a class="list-group-item text-light btn btn-secondary" style="background-color: black;"
                       th:href="@{/addTask}">New Task</a>
                </ul>
            </div>
        </ul>
        <ul class="list-group">
            <button class="btn btn-dark border border-secondary" data-target="#collapse-btn-4" data-toggle="collapse"
                    style="font-size: 2vh;">Make call
            </button>
            <div class="collapse text-center" id="collapse-btn-4">
                <ul class="list-group">
                    <a class="list-group-item text-light btn btn-secondary" style="background-color: black;"
                       th:href="@{https://www.skype.com/en/}">Audio Call</a>
                    <a class="list-group-item text-light btn btn-secondary" style="background-color: black;"
                       th:href="@{https://zoom.us/}">Video Call</a>
                </ul>
            </div>
        </ul>

        <ul class="list-group">
            <button class="btn btn-dark border border-secondary" data-target="#collapse-btn-5" data-toggle="collapse"
                    style="font-size: 2vh;">Leads
            </button>
            <div class="collapse text-center" id="collapse-btn-5">
                <ul class="list-group">
                    <a class="list-group-item text-light btn btn-secondary" style="background-color: black;"
                       th:href="@{/lead}">Add Lead</a>
                </ul>
            </div>
        </ul>
        <ul class="list-group">
            <button class="btn btn-dark border border-secondary" data-target="#collapse-btn-6" data-toggle="collapse"
                    style="font-size: 2vh;">Deals
            </button>
            <div class="collapse text-center" id="collapse-btn-6">
                <ul class="list-group">
                    <a class="list-group-item text-light btn btn-secondary" style="background-color: black;"
                       th:href="@{/user-deal}">Add Deal</a>
                </ul>
            </div>
        </ul>
    </div>
<div class="d-flex flex-wrap border m-1 w-100" style="height: 100vh;">
    <div class="w-50" style="margin-top: 30px;margin-left: 400px">
        <h2 class="text-center">Add Deal</h2>
        <div class="text-center py-3">
            <img height="100vh" th:src="@{../images/logo.png}" width="100vw">
        </div>
            <form method="post" th:action="@{/user-deal}" th:object="${dealDto}">

                <div class="form-group py-1">
                    <label for="name">Deal name</label>
                    <input class="form-control" id="name" placeholder="Enter deal.." th:field="*{dealName}" type="text">
                    <span th:errors="*{dealName}" th:if="${#fields.hasAnyErrors()}"></span>
                </div>

                <div class="form-group py-1">
                    <label for="email">Worth</label>
                    <input class="form-control" id="email" placeholder="Enter useremail..." th:field="*{worth}"
                           type="text">
                    <span th:errors="*{worth}" th:if="${#fields.hasErrors()}"></span>
                </div>


                <div class="form-group">
                    <label for="user1">Select lead</label>
                    <select class="form-control" id="user1" th:field="*{lead}">
                        <option th:each="lead : ${leads}" th:text="${lead.name}" th:value="${lead.id}"></option>
                    </select>
                    <span th:errors="*{lead}" th:if="${#fields.hasErrors()}"></span>
                </div>

                <div class="form-group py-1">
                    <button class="form-control btn btn-primary mb-3" type="submit">Add lead</button>
                </div>
        </form>
            <h5 style="color: mediumseagreen;font-size: 20px" th:if="${message}" > deal assigned to lead</h5>
    </div>
</div>
</div>

<script crossorigin="anonymous"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>