<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Add Deal</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/montserrat.css">
    <link rel="stylesheet" type="text/css" href="css/leadstylesheet.css">
    <style>span{color: red}</style>
</head>
<body>
<div th:include="leadnavigation :: navbar"></div>
<div th:replace="leadnavigation :: sidebar"></div>

<div class="d-inline-block mt-5" style="width:77vw; vertical-align: top;">

    <h2 class="text-center">Edit lead </h2>
    <div class="text-center py-3">
        <img height="100vh" th:src="@{/images/logo.png}" width="100vw">
    </div>
    <div class="container w-25">
        <form method="post" th:action="@{/lead/{leadId}/edit-lead(leadId=${leadId})}" th:object="${leadDto}">

            <div class="form-group py-1">
                <label for="name">Name</label>
                <input class="form-control" id="name" placeholder="Enter name..." th:field="*{name}" type="text">
                <span th:errors="*{name}" th:if="${#fields.hasAnyErrors()}"></span>
            </div>

            <div class="form-group py-1">
                <label for="email">Email</label>
                <input class="form-control" id="email" placeholder="Enter useremail..." th:field="*{email}"
                       type="email">
                <span th:errors="*{email}" th:if="${#fields.hasErrors()}"></span>
            </div>
            <div class="form-group py-1">
                <label for="contact">Contact No</label>
                <input class="form-control" id="contact" placeholder="Enter contact no..." th:field="*{mobile}"
                       type="number">
                <span th:errors="*{mobile}" th:if="${#fields.hasErrors()}"></span>
            </div>
            <label for="a">Position</label>
            <div class="form-group" id="a">

                <div class="custom-control custom-radio custom-control-inline">
                    <input class="custom-control-input" id="option1" name="option1" th:field="*{position}" type="radio"
                           value="Ceo">
                    <label class="custom-control-label" for="option1">Ceo</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input class="custom-control-input" id="option2" name="option2" th:field="*{position}" type="radio"
                           value="Manager">
                    <label class="custom-control-label" for="option2">Manager</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input class="custom-control-input" id="option3" name="option3" th:field="*{position}" type="radio"
                           value="Developer">
                    <label class="custom-control-label" for="option3">Developer</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input class="custom-control-input" id="option4" name="option4" th:field="*{position}" type="radio"
                           value="others">
                    <label class="custom-control-label" for="option4">others</label>
                </div>
                <span th:errors="*{position}" th:if="${#fields.hasErrors()}"></span>
            </div>
            <span style="color: mediumseagreen;font-size: 20px" th:if="${!message.isEmpty()}" th:text="${message}"></span>
            <div class="form-group py-1">
                <button class="form-control btn btn-primary mb-3" type="submit">Edit lead</button>
            </div>
        </form>
    </div>

</div>

<script crossorigin="anonymous"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>