<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>CREATE TASK</title>
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" rel="stylesheet">
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css"
          rel="stylesheet"/>

</head>
<body>

<div th:include="dashboard :: navbar"></div>
<div th:replace="dashboard :: sidebar"></div>

<div class="d-inline-block mt-5" style="width:77vw; vertical-align: top;">

    <h2 class="text-center">Create task</h2>
    <div class="text-center py-3">
        <img height="100vh" th:src="@{../images/logo.png}" width="100vw">
    </div>
    <div class="alert alert-success alert-dismissible fade show text-center py-2" th:if="${taskSaved}">
        <button class="close" data-dismiss="alert" type="button"><span>&times;</span></button>
        <Strong>Success</Strong> TASK UPDATED SUCCESSFULLY.
    </div>
    <div class="container w-25">
        <form method="POST" th:action="@{/saveTaskChanges}" th:object="${taskDto}">

            <div class="form-group py-1">
                <label for="name">Enter task name</label>
                <input class="form-control" id="name" placeholder="Enter task name..." th:field="*{taskName}"
                       type="text">
                <small class="text-danger" th:errors="*{taskName}" th:if="${#fields.hasErrors('taskName')}"></small>
            </div>
            <div class="form-group py-1">
                <label for="taskBody">Enter task description</label>
                <textarea class="form-control" id="taskBody" placeholder="Enter task description..." th:field="*{taskDescription}"
                          type="text"></textarea>
                <small class="text-danger" th:errors="*{taskDescription}"
                       th:if="${#fields.hasErrors('taskDescription')}"></small>
            </div>


            <div class="form-group">
                <label for="time">Enter task time</label>
                <div class="input-group date" data-target-input="nearest" id="datetimepicker1">
                    <input class="form-control datetimepicker-input" data-target="#datetimepicker1" id="time" placeholder="Enter time"
                           th:field="*{taskTime}" type="text"/>
                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
                <small class="text-danger" th:errors="*{taskTime}"
                       th:if="${#fields.hasErrors('taskTime')}"></small>
            </div>

            <div class="form-group">
                <label for="user">Select user</label>
                <input class="form-control" id="user" readonly th:field="*{userName}" type="text">
                </select>
            </div>

            <div class="form-group">
                <label for="lead">Select lead</label>
                <input class="form-control" id="lead" readonly th:name="leadName" th:value="${leadName}" type="text">
            </div>
            <input th:name="taskId" th:value="${taskId}" type="hidden">

            <div class="form-group">

                <button type="submit" class="form-control btn btn-primary mb-5">Edit Task</button>
            </div>
            <div class="mt-4">
                <a class="text-danger" th:href="@{/goBack}">Back to dashboard</a>
            </div>
        </form>

    </div>

</div>

</div>


<script crossorigin="anonymous"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"
        type="text/javascript"></script>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({
                format: 'DD/MM/YYYY h:mm A'
            }
        );
    });

</script>


</body>
</html>