<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>SALES CRM</title>
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" rel="stylesheet">
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3 border-bottom">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">
                <img class="align-middle" height="60vh" th:src="@{../images/logo.png}" width="60vw"/>
                <span class="h3 font-weight-light ml-2 align-middle">Close</span>
            </a>
            <button class="navbar-toggler" data-target="#navbarNav" data-toggle="collapse"><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item px-2">
                        <a class="nav-link h6 font-weight-light text-light" href="https://www.google.com">Product</a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link h6 font-weight-light text-light" href="#">Pricing</a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link h6 font-weight-light text-light" href="#">Services</a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link h6 font-weight-light text-light" href="#">About</a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link h6 font-weight-light text-light" th:href="@{/sign-up}">Register</a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link btn btn-primary btn text-light" th:href="@{/redirect}">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<script crossorigin="anonymous"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>