<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>SALES CRM</title>
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" rel="stylesheet">
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
</head>
<body>

<div th:include="dashboard :: navbar"></div>
<div th:replace="dashboard :: sidebar"></div>

<div class="d-inline-block mt-5" style="width:77vw; vertical-align: top;">

    <h2 class="text-center text-capitalize">New user registration</h2>
    <div class="text-center py-3">
        <img height="100vh" th:src="@{../images/logo.png}" width="100vw">
    </div>
    <div class="container w-25">
        <form enctype="multipart/form-data" method="POST" th:action="@{/upload-csv-file}">
            <div class="form-group mt-3">
                <label for="file">Select a CSV file</label>
                <input accept=".csv" class="form-control-file" id="file" name="file" type="file">
            </div>
            <button class="btn btn-primary" type="submit">Import Users</button>
        </form>
        <div class="alert alert-danger alert-dismissable fade show mt-3" role="alert" th:if="${!status}">
            <button class="close" data-dismiss="alert" type="button"><span>&times;</span></button>
            <strong>Error:</strong>
            <span th:text="${message}"></span>
        </div>


            <div th:if="${!status}" class="alert alert-danger alert-dismissable fade show mt-3" role="alert">
                <button class="close" data-dismiss="alert" type="button"><span>&times;</span></button>
                <strong>Error:</strong>
                <span th:text="${message}"></span>
            </div>
            <div th:if="${success}" class="alert alert-success alert-dismissable fade show mt-3" role="alert">
                <button class="close" data-dismiss="alert" type="button"><span>&times;</span></button>
                <strong>Success:</strong>
                <span th:text="${message}"></span>
            </div>
            <div th:if="${incorrectData}" class="alert alert-danger alert-dismissable fade show mt-3" role="alert">
                <button class="close" data-dismiss="alert" type="button"><span>&times;</span></button>
                <strong>Warning:</strong>
                <span th:text="${warning}"></span>
            </div>
            <div th:if="${emailExists}" class="alert alert-info alert-dismissable fade show mt-3" role="alert">
                <button class="close" data-dismiss="alert" type="button"><span>&times;</span></button>
                <strong>Info:</strong>
                <span th:text="${info}"></span>
            </div>

        <div th:if="${badData != null}">
            <form method="POST" th:action="@{/exportCsv}">
                <button class="btn btn-primary mt-2" type="submit">Errors</button>
            </form>
        </div>




        <div class="mt-4">
            <a class="text-danger" th:href="@{/goBack}">Back to dashboard</a>
        </div>
    </div>


</div>

</div>

<script crossorigin="anonymous"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>