<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Add Deal</title>
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" rel="stylesheet">
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <link href="css/montserrat.css" rel="stylesheet" type="text/css">
    <link href="css/leadstylesheet.css" rel="stylesheet" type="text/css">
</head>
<body>
<div th:include="leadnavigation :: navbar"></div>
<div class="d-flex">
<div th:replace="leadnavigation :: sidebar" style="min-height:100%;"></div>
<div class="d-inline-block mt-5" style="width:77vw; vertical-align: top;">
    <div class="w-100 d-flex justify-content-around">
        <div class="border border-dark m-3" style="text-align: center; width:17vw;">
            <div class="text-primary border border-dark m-3 bg-light">
                Total Deals :
                <span class="text-primary center" th:text="${totalDeal}"></span>
            </div>
            <div class="text-success border border-dark m-3 bg-light">
                Successful Deals :
                <span class="text-success center" th:text="${closedDeal.size()}"></span>
            </div>
            <div class="text-danger border border-dark m-3 bg-light">
                Unsuccessful Deals :
                <span class="text-danger center" th:text="${openDeal.size()}"></span>
            </div>
        </div>
        <div class="border border-dark m-3" style="text-align: center; width:17vw;">
            <div class="text-primary border border-dark m-3 bg-light">
                Total Worth :
                <span class="text-primary center" th:text="${totalWorth}"></span>
            </div>
            <div class="text-success border border-dark m-3 bg-light">
                Worth Gained :
                <span class="text-success center" th:text="${closedDealWorth}"></span>
            </div>
            <div class="text-danger border border-dark m-3 bg-light">
                Worth Pending :
                <span class="text-danger center" th:text="${openDealWorth}"></span>
            </div>
        </div>
        <div class="border border-dark m-3" style="text-align: center; width:17vw;">
            <div class="text-primary border border-dark m-3 bg-light">
                Task Assigned :
                <span class="text-primary center" th:text="${tasks.size()}"></span>
            </div>
            <div class="text-success border border-dark m-3 bg-light">
                Emails Sent :
                <span class="text-success center" th:text="${emails.size()}"></span>
            </div>
            <div class="text-danger border border-dark m-3 bg-light">
                Sms Sent :
                <span class="text-danger center" th:text="${messages.size()}"></span>
            </div>
        </div>
    </div>
    <div style="width: 50%; display: flex; justify-content:space-around; margin-left: 20%">
        <div style="justify-content: space-between">
            <h5 th:text="'Name : '+${lead.name}" style="color: #2aabd2"></h5>
            <h6 th:text="'Position : '+${lead.position}" style="color: darkslategray"></h6>
            <h6 th:text="'Points : '+${lead.points}" style="color: darkslategrey"></h6>
            <h6 th:text="'Gmail : '+${lead.email}" style="color: darkslategrey"></h6>
            <h6 th:text="'Mobile : '+${lead.mobile}" style="color: darkslategrey"></h6>
        </div>
    </div>
    <div style="display: flex">
    <div class="w-50">
        <div class="w-100 border bg-light">
            <h1 style="text-align: center;">Lead Deals</h1>
        </div>
        <div class="w-100 border" style="height:40vh; overflow:scroll;">
            <table class="table table-hover table-sm">
                <thead>
                <tr>
                    <th>Deal Name</th>
                    <th>worth</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="deal:${deals}">
                    <td th:text="${deal.dealName}"></td>
                    <td th:text="${deal.worth}"></td>
                    <td style="color: mediumseagreen" th:if="${deal.status}" th:text="'Success'"></td>
                    <td style="color: red;" th:if="${!deal.status}" th:text="'Pending'"></td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>

    <div class="w-50">
        <div class="w-100 border bg-light">
            <h1 style="text-align: center;">Message</h1>
        </div>
        <div class="w-100 border" style="height:40vh; overflow:scroll;">
            <table class="table table-hover table-sm">
                <thead>
                <tr>
                    <th>Time</th>
                    <th>Message</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="message:${messages}">
                    <td th:text="${#dates.format(message.createdAt,'hh-mm')}"></td>
                    <td th:text="${message.message}"></td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>
    </div>
    <div style="display: flex">
        <div class="w-50">
            <div class="w-100 border bg-light">
                <h1 style="text-align: center;">Tasks</h1>
            </div>
            <div class="w-100 border" style="height:40vh; overflow:scroll;">
                <table class="table table-hover table-sm">
                    <thead>
                    <tr>
                        <th>Task Name</th>
                        <th>Task Time</th>
                        <th>Task Status</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="task:${tasks}">
                        <td th:text="${task.taskName}"></td>
                        <td th:text="${task.taskTime}"></td>
                        <td th:text="${task.taskStatus}"></td>
                    </tr>

                    </tbody>
                </table>

            </div>
        </div>

        <div class="w-50">
            <div class="w-100 border bg-light">
                <h1 style="text-align: center;">Emails</h1>
            </div>
            <div class="w-100 border" style="height:40vh; overflow:scroll;">
                <table class="table table-hover table-sm">
                    <thead>
                    <tr>
                        <th>Subject</th>
                        <th>Message</th>
                        <th>Sent At</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="email:${emails}">
                        <td th:text="${email.subject}"></td>
                        <td th:text="${email.message}"></td>
                        <td th:text="${#dates.format(email.sentAt,'hh-mm')}"></td>

                    </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
</div>
<script crossorigin="anonymous"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>