<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/montserrat.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/leadstylesheet.css">
    <style rel="stylesheet" type="text/css"  href="../css/styles.css" th:href="@{../static/css/styles.css}"></style>

</head>
<body>
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand h2">
                <img th:src="@{/images/logo.png}"  height="60vh" width="60vw" class="align-middle">
                <span class="h3 font-weight-light text-light ml-2 align-middle">Close</span>
            </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto nav-pills">
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link btn btn-outline-secondary text-light" th:href="@{/admin}">Main Board</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('USER')">
                        <a class="nav-link btn btn-outline-secondary text-light" th:href="@{/user}">Main Board</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-secondary text-light" th:href="@{/logout}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="sidebar" class="bg-dark d-inline-block" style="min-height: 100vh;height: inherit;width:20vw;overflow-y: auto;">
    <div class="text-center text-light py-5">

        <img th:src="@{/images/user.png}">

        <h6 class="font-weight-normal text-secondary">Lead Profile</h6>

    </div>

    <ul class="list-group">
        <button class="btn btn-dark border border-secondary" style="font-size: 2vh;" data-toggle="collapse"
                data-target="#collapse-btn-1">Home
        </button>
        <div class="collapse text-center" id="collapse-btn-1">
            <ul class="list-group">
                <a  th:href="@{/lead-actions(leadId=${leadId})}"  class="list-group-item text-light btn btn-secondary" style="background-color: black;">
                    lead home</a>

            </ul>
        </div>
    </ul>

    <ul class="list-group">
        <button class="btn btn-dark border border-secondary" style="font-size: 2vh;" data-toggle="collapse"
                data-target="#collapse-btn-2">Lead
        </button>
        <div class="collapse text-center" id="collapse-btn-2">
            <ul class="list-group">
                <a th:href="@{/lead/{leadId}/edit-lead(leadId=${leadId})}" class="list-group-item text-light btn btn-secondary" style="background-color: black;">edit
                    lead</a>
            </ul>
        </div>
    </ul>

    <ul class="list-group">
        <button class="btn btn-dark border border-secondary" style="font-size: 2vh;" data-toggle="collapse"
                data-target="#collapse-btn-3">Deal
        </button>
        <div class="collapse text-center" id="collapse-btn-3">
            <ul class="list-group">

                <a th:href="@{/lead/{leadId}/add-deal(leadId = ${leadId})}" class="list-group-item text-light btn btn-secondary"
                   style="background-color: black;">add deals</a>
            </ul>
        </div>
    </ul>

    <ul class="list-group">
        <button class="btn btn-dark border border-secondary" style="font-size: 2vh;" data-toggle="collapse"
                data-target="#collapse-btn-5">Message
        </button>
        <div class="collapse text-center" id="collapse-btn-5">
            <ul class="list-group">
                <a href="" th:href="@{/lead/{leadId}/send-message(leadId=${leadId})}" class="list-group-item text-light btn btn-secondary" style="background-color: black;">send
                    message</a>

            </ul>
        </div>
    </ul>

    <ul class="list-group">
        <button class="btn btn-dark border border-secondary" style="font-size: 2vh;" data-toggle="collapse"
                data-target="#collapse-btn-6">Calls
        </button>
        <div class="collapse text-center" id="collapse-btn-6">
            <ul class="list-group">
                <a th:href="@{https://www.skype.com/en/}" href="" class="list-group-item text-light btn btn-secondary"
                   style="background-color: black;">audio call</a>
                <a th:href="@{https://zoom.us/}" href="" class="list-group-item text-light btn btn-secondary" style="background-color: black;">
                    video call</a>

            </ul>
        </div>
    </ul>
</div>

<div class="d-inline-block bg-danger" style="height:100vh; width:77vw;"></div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>




