<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Login</title>
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" rel="stylesheet">
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<div th:include="header :: header"></div>
<h2 class="text-center py-3">Login</h2>
<div class="text-center py-3">
    <img height="100vh" th:src="@{../images/logo.png}" width="100vw">
</div>
<div class="container w-25">
    <form action="#" method="post" th:action="@{/sign-in}">
        <div class="form-group">
            <label for="username">Enter email</label>
            <input class="form-control" id="username" name="username" placeholder="Enter email" type="text">
        </div>

        <div class="form-group py-1">
            <label for="password">Enter password</label>
            <input class="form-control" id="password" name="password" placeholder="Enter password" type="password">
        </div>
        <p class="alert text-danger" th:if="${param.error}">INVALID USERNAME/PASSWORD</p>
        <button class="form-control btn btn-primary mt-3" type="submit">Login</button>
    </form>

    <div class="form-group py-3">
        <p class="py-1">New user ?</p>
        <button class="form-control btn btn-primary mb-5" type="button">Register</button>
        <a class="form-control btn btn-primary mb-5" th:href="@{/forgot-password}">Forgot Password</a>
    </div>

</div>

<div class="mt-5" th:include="footer :: footer"></div>
<script crossorigin="anonymous"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>