<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet"/>
    <meta content="text/html; charset=US-ASCII" http-equiv="Content-Type"/>
    <title th:text="#{label.pages.home.title}">home</title>
</head>
<body style="font-size: larger;">
<div class="container">
    <h1 class="alert alert-success">Password changed successfully</h1>
    <a th:href="@{/sign-in}">Login</a>
</div>
</body>
</html>