<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>New Registration</title>
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" rel="stylesheet">
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <style>
        span {
            color: red;
        }
    </style>
</head>
<body>
<div th:include="header :: header"></div>
<h2 class="text-center">New Registration</h2>
<div class="text-center py-3">
    <img height="100vh" th:src="@{../images/logo.png}" width="100vw">
</div>
<div class="container w-25">
    <form method="post" th:acton="@{/sign-up}" th:object="${userDto}">
        <div class="form-group py-1">
            <label for="company">Organization</label>
            <input class="form-control" id="company" placeholder="Enter organization name..." th:field="*{companyDto.name}"
                   type="text">
            <span th:errors="*{companyDto.name}" th:if="${#fields.hasAnyErrors()}"></span>
        </div>
        <div class="form-group py-1">
            <label for="name">Name</label>
            <input class="form-control" id="name" placeholder="Enter name..." th:field="*{name}" type="text">
            <span th:errors="*{name}" th:if="${#fields.hasAnyErrors()}"></span>
        </div>
        <div class="form-group py-1">
            <label for="contact">Contact No</label>
            <input class="form-control" id="contact" placeholder="Enter contact no..." th:field="*{mobile}"
                   type="number">
            <span th:errors="*{mobile}" th:if="${#fields.hasAnyErrors()}"></span>
        </div>
        <div class="form-group py-1">
            <label for="email">Email</label>
            <input class="form-control" id="email" placeholder="Enter email..." th:field="*{email}" type="email">
            <span th:errors="*{email}" th:if="${#fields.hasAnyErrors()}"></span>
        </div>
        <div class="form-group py-1">
            <label for="password">Password</label>
            <input class="form-control" id="password" placeholder="Enter password..." th:field="*{password}"
                   type="password">
            <span th:errors="*{password}" th:if="${#fields.hasAnyErrors()}"></span>
        </div>

        <div class="form-group py-1">
            <label for="confirmPassword">Confirm Password</label>
            <input class="form-control mb-2" id="confirmPassword" placeholder="Enter password again..." th:field="*{matchingPassword}"
                   type="password">
            <span th:errors="*{matchingPassword}" th:if="${#fields.hasAnyErrors()}"></span>
        </div>

        <div class="form-group py-1">
            <button class="form-control btn btn-primary mb-3" type="submit">Register</button>
        </div>
    </form>
    <h3 th:text="${message}"></h3>
</div>

<div th:include="footer :: footer"></div>
<script crossorigin="anonymous"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>