<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Add Deal</title>
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" rel="stylesheet">
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <script type="text/javascript"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/montserrat.css" rel="stylesheet" type="text/css">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/leadstylesheet.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" th:href="@{../static/css/styles.css}" type="text/css"/>
    <style>span {
        color: red
    }</style>

</head>
<body>
<div th:include="leadnavigation :: navbar"></div>
<div th:replace="leadnavigation :: sidebar"></div>
<div class="d-inline-block mt-5" style="width:77vw; vertical-align: top;">
    <h2 class="text-center">New user registration</h2>
    <div class="text-center py-3">
        <img height="100vh" th:src="@{/images/logo.png}" width="100vw">
    </div>
    <div class="container w-25">
        <form method="post" th:action="@{/lead/{leadId}/send-message(leadId=${leadId})}" th:object="${messageDto}">

            <label for="sname">Sender Name</label>
            <input class="form-control mb-4" id="sname" placeholder="Subject" readonly th:value="${user.name}"
                   type="text">
            <label for="lname">Receiver</label>
            <input class="form-control mb-4" id="lname" placeholder="Subject" readonly th:value="${lead.name}"
                   type="text">

            <p class="h4 mb-4">Send Message</p>
            <textarea class="form-control mb-4" cols="60" id="defaultRegisterFormReceiver" placeholder="Send Message" rows="7"
                      th:field="*{message}" type="email"></textarea>
            <span th:errors="*{message}" th:if="${#fields.hasAnyErrors()}"></span>
            <h5 style="color: red" th:if="${!success.isEmpty()} AND ${success}!='Message Sent'"
                th:text="${success}"></h5>
            <h5 style="color: mediumseagreen" th:if="${!success.isEmpty()} AND ${success}=='Message Sent'"
                th:text="${success}"></h5>
            <button class="btn btn-info my-4 btn-block" type="submit">Send Message</button>
            <hr>

        </form>

    </div>

</div>

</div>

<script crossorigin="anonymous"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>