<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>SALES CRM</title>
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" rel="stylesheet">
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand h2" href="#">
            <img class="align-middle" height="60vh" src="images/logo.png" width="60vw"/>
            <span class="h3 font-weight-light ml-2 align-middle">Close</span>
        </a>
        <button class="navbar-toggler" data-target="#navbarNav" data-toggle="collapse"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto nav-pills">
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-secondary text-light" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="d-flex flex-row">
    <div class="bg-dark w-25" style="min-height: 100vh">
        <div class="text-center text-light py-5">
            <img src="images/user.png">
            <a class="lead text-light" sec:authorize="hasRole('USER')" th:href="@{/user}"
               th:text="${#authentication.name}"></a>
            <h5 class="font-weight-normal text-secondary">Role</h5>
        </div>
        <ul class="list-group">
            <button class="btn btn-dark border border-secondary" data-target="#collapse-btn-1" data-toggle="collapse"
                    style="font-size: 2vh;">Profile
            </button>
            <div class="collapse text-center" id="collapse-btn-1">
                <ul class="list-group">
                    <a class="list-group-item text-light btn btn-secondary" style="background-color: black;"
                       th:href="@{/user}">Dashboard</a>
                </ul>
                <ul class="list-group">
                    <a class="list-group-item text-light btn btn-secondary" style="background-color: black;"
                       th:href="@{/setting}">Settings</a>
                </ul>
            </div>
        </ul>
        <ul class="list-group">
            <button class="btn btn-dark border border-secondary" data-target="#collapse-btn-2" data-toggle="collapse"
                    style="font-size: 2vh;">Emails
            </button>
            <div class="collapse text-center" id="collapse-btn-2">
                <ul class="list-group">
                    <a class="list-group-item text-light btn btn-secondary" style="background-color: black;"
                       th:href="@{/view-emails}">View Emails</a>
                </ul>
            </div>
        </ul>

        <ul class="list-group">
            <button class="btn btn-dark border border-secondary" data-target="#collapse-btn-3" data-toggle="collapse"
                    style="font-size: 2vh;">Tasks
            </button>
            <div class="collapse text-center" id="collapse-btn-3">
                <ul class="list-group">
                    <a class="list-group-item text-light btn btn-secondary" style="background-color: black;"
                       th:href="@{/addTask}">New Task</a>
                </ul>
            </div>
        </ul>
        <ul class="list-group">
            <button class="btn btn-dark border border-secondary" data-target="#collapse-btn-4" data-toggle="collapse"
                    style="font-size: 2vh;">Make call
            </button>
            <div class="collapse text-center" id="collapse-btn-4">
                <ul class="list-group">
                    <a class="list-group-item text-light btn btn-secondary" style="background-color: black;"
                       th:href="@{https://www.skype.com/en/}">Audio Call</a>
                    <a class="list-group-item text-light btn btn-secondary" style="background-color: black;"
                       th:href="@{https://zoom.us/}">Video Call</a>
                </ul>
            </div>
        </ul>

        <ul class="list-group">
            <button class="btn btn-dark border border-secondary" data-target="#collapse-btn-5" data-toggle="collapse"
                    style="font-size: 2vh;">Leads
            </button>
            <div class="collapse text-center" id="collapse-btn-5">
                <ul class="list-group">
                    <a class="list-group-item text-light btn btn-secondary" style="background-color: black;"
                       th:href="@{/lead}">Add Lead</a>
                </ul>
            </div>
        </ul>
        <ul class="list-group">
            <button class="btn btn-dark border border-secondary" data-target="#collapse-btn-6" data-toggle="collapse"
                    style="font-size: 2vh;">Deals
            </button>
            <div class="collapse text-center" id="collapse-btn-6">
                <ul class="list-group">
                    <a class="list-group-item text-light btn btn-secondary" style="background-color: black;"
                       th:href="@{/user-deal}">Add Deal</a>
                </ul>
            </div>
        </ul>
    </div>
    <div class="w-100 border">
        <div class="w-100 border">
            <h1 style="text-align: center;">Settings</h1>
        </div>
        <div style="height:90vh; width: 60vw; margin: auto; overflow:scroll;" th:object="${emailDto}">
            <form method="post" th:acton="@{/setting}" th:object="${userDto}">
                <div class="form-group py-1">
                    <label for="company">Organization</label>
                    <input class="form-control" id="company" placeholder="Enter organization name..." readonly th:field="*{companyDto.name}"
                           type="text">
                    <span th:errors="*{companyDto.name}" th:if="${#fields.hasAnyErrors()}"></span>
                </div>
                <div class="form-group py-1">
                    <label for="name">Name</label>
                    <input class="form-control" id="name" placeholder="Enter name..." th:field="*{name}" type="text">
                    <span th:errors="*{name}" th:if="${#fields.hasAnyErrors()}"></span>
                </div>
                <div class="form-group py-1">
                    <label for="contact">Contact No</label>
                    <input class="form-control" id="contact" placeholder="Enter contact no..." th:field="*{mobile}"
                           type="number">
                    <span th:errors="*{mobile}" th:if="${#fields.hasAnyErrors()}"></span>
                </div>
                <div class="form-group py-1">
                    <label for="email">Email</label>
                    <input class="form-control" id="email" placeholder="Enter email..." th:field="*{email}"
                           type="email">
                    <span th:errors="*{email}" th:if="${#fields.hasAnyErrors()}"></span>
                </div>
                <div class="form-group py-1">
                    <label for="password">Password</label>
                    <input class="form-control" id="password" placeholder="Enter password..." th:field="*{password}"
                           type="password">
                    <span th:errors="*{password}" th:if="${#fields.hasAnyErrors()}"></span>
                </div>

                <div class="form-group py-1">
                    <label for="confirmPassword">Confirm Password</label>
                    <input class="form-control mb-2" id="confirmPassword" placeholder="Enter password again..." th:field="*{matchingPassword}"
                           type="password">
                    <span th:errors="*{matchingPassword}" th:if="${#fields.hasAnyErrors()}"></span>
                </div>

                <div class="form-group py-1">
                    <button class="form-control btn btn-primary mb-3" type="submit">Update</button>
                </div>
                <span th:text="${successMessage}"></span>
            </form>
        </div>
    </div>
</div>

<script crossorigin="anonymous"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>