<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>SALES CRM</title>
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" rel="stylesheet">
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand h2" href="#">
            <img class="align-middle" height="60vh" src="../images/logo.png" width="60vw"/>
            <span class="h3 font-weight-light ml-2 align-middle">Close</span>
        </a>
        <button class="navbar-toggler" data-target="#navbarNav" data-toggle="collapse"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto nav-pills">
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-secondary text-light" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="d-flex flex-row">
    <div class="bg-dark w-25" style="min-height: 100vh">
        <div class="text-center text-light py-5">
            <img src="../images/user.png">
            <h3 class="font-weight-normal mt-3" th:text="${user.getName()}"></h3>

            <h5 class="font-weight-normal text-secondary">Team member</h5>
        </div>
        <ul class="list-group">
            <button class="btn btn-dark border border-secondary" data-target="#collapse-btn-1" data-toggle="collapse"
                    style="font-size: 2vh;">Profile
            </button>
            <div class="collapse text-center" id="collapse-btn-1">
                <ul class="list-group">
                    <a class="list-group-item text-light btn btn-secondary" style="background-color: black;"
                       th:href="@{/user}">Dashboard</a>
                </ul>
                <ul class="list-group">
                    <a class="list-group-item text-light btn btn-secondary" style="background-color: black;"
                       th:href="@{/setting}">Settings</a>
                </ul>
            </div>
        </ul>
        <ul class="list-group">
            <button class="btn btn-dark border border-secondary" data-target="#collapse-btn-2" data-toggle="collapse"
                    style="font-size: 2vh;">Emails
            </button>
            <div class="collapse text-center" id="collapse-btn-2">
                <ul class="list-group">
                    <a class="list-group-item text-light btn btn-secondary" style="background-color: black;"
                       th:href="@{/view-emails}">View Emails</a>
                </ul>
            </div>
        </ul>

        <ul class="list-group">
            <button class="btn btn-dark border border-secondary" data-target="#collapse-btn-3" data-toggle="collapse"
                    style="font-size: 2vh;">Tasks
            </button>
            <div class="collapse text-center" id="collapse-btn-3">
                <ul class="list-group">
                    <a class="list-group-item text-light btn btn-secondary" style="background-color: black;"
                       th:href="@{/addTask}">New Task</a>
                </ul>
            </div>
        </ul>
        <ul class="list-group">
            <button class="btn btn-dark border border-secondary" data-target="#collapse-btn-4" data-toggle="collapse"
                    style="font-size: 2vh;">Make call
            </button>
            <div class="collapse text-center" id="collapse-btn-4">
                <ul class="list-group">
                    <a class="list-group-item text-light btn btn-secondary" style="background-color: black;"
                       th:href="@{https://www.skype.com/en/}">Audio Call</a>
                    <a class="list-group-item text-light btn btn-secondary" style="background-color: black;"
                       th:href="@{https://zoom.us/}">Video Call</a>
                </ul>
            </div>
        </ul>

        <ul class="list-group">
            <button class="btn btn-dark border border-secondary" data-target="#collapse-btn-5" data-toggle="collapse"
                    style="font-size: 2vh;">Leads
            </button>
            <div class="collapse text-center" id="collapse-btn-5">
                <ul class="list-group">
                    <a class="list-group-item text-light btn btn-secondary" style="background-color: black;"
                       th:href="@{/lead}">Add Lead</a>
                </ul>
            </div>
        </ul>
        <ul class="list-group">
            <button class="btn btn-dark border border-secondary" data-target="#collapse-btn-6" data-toggle="collapse"
                    style="font-size: 2vh;">Deals
            </button>
            <div class="collapse text-center" id="collapse-btn-6">
                <ul class="list-group">
                    <a class="list-group-item text-light btn btn-secondary" style="background-color: black;"
                       th:href="@{/user-deal}">Add Deal</a>
                </ul>
            </div>
        </ul>
    </div>
    <div class="d-flex flex-wrap m-1 w-100">
        <div class="w-100 d-flex justify-content-around">
            <div class="border border-dark m-3" style="text-align: center; width:17vw;">
                <div class="text-primary border border-dark m-3 bg-light">
                    Total Deals :
                    <span class="text-primary center" th:text="${totalDeals}"></span>
                </div>
                <div class="text-success border border-dark m-3 bg-light">
                    Successful Deals :
                    <span class="text-success center" th:text="${successfulDeals}"></span>
                </div>
                <div class="text-danger border border-dark m-3 bg-light">
                    Unsuccessful Deals :
                    <span class="text-danger center" th:text="${unSuccessfulDeals}"></span>
                </div>
            </div>
            <div class="border border-dark m-3" style="text-align: center; width:17vw;">
                <div class="text-primary border border-dark m-3 bg-light">
                    Total Worth :
                    <span class="text-primary center" th:text="${totalDealWorth}"></span>
                </div>
                <div class="text-success border border-dark m-3 bg-light">
                    Worth Gained :
                    <span class="text-success center" th:text="${successfulDealWorth}"></span>
                </div>
                <div class="text-danger border border-dark m-3 bg-light">
                    Worth Pending :
                    <span class="text-danger center" th:text="${unSuccessfulDealWorth}"></span>
                </div>
            </div>
            <div class="border border-dark m-3" style="text-align: center; width:17vw;">
                <div class="text-primary border border-dark m-3 bg-light">
                    Total Leads :
                    <span class="text-primary center" th:text="${totalLeads}"></span>
                </div>
                <div class="text-success border border-dark m-3 bg-light">
                    Leads Done :
                    <span class="text-success center" th:text="${leadsConverted}"></span>
                </div>
                <div class="text-danger border border-dark m-3 bg-light">
                    Leads Pending :
                    <span class="text-danger center" th:text="${leadsPending}"></span>
                </div>
            </div>
            <div class="border border-dark m-3" style="text-align: center; width:17vw;">
                <div class="text-primary border border-dark m-3 bg-light">
                    Task Assigned :
                    <span class="text-primary center" th:text="${totalTasks}"></span>
                </div>
                <div class="text-success border border-dark m-3 bg-light">
                    Emails Sent :
                    <span class="text-success center" th:text="${totalEmails}"></span>
                </div>
                <div class="text-danger border border-dark m-3 bg-light">
                    Sms Sent :
                    <span class="text-danger center" th:text="${totalMessages}"></span>
                </div>
            </div>
        </div>
        <div class="w-100 border">
            <div class="w-100 border bg-light">
                <h1 style="text-align: center;">User Leads</h1>
            </div>
            <div style="height:40vh; overflow:scroll;">
                <table class="table user-list">
                    <thead>
                    <tr>
                        <th>Lead name</th>
                        <th>position</th>
                        <th>points</th>
                        <th>Email</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="lead:${leads}">
                        <td>
                            <a th:href="@{/lead-actions(leadId=${lead.getId()})}" th:text="${lead.name}">Full name</a>
                        </td>

                        <td th:text="${lead.position}">position</td>

                        <td th:text="${lead.points}">points</td>

                        <td th:text="${lead.email}">emails</td>
                        <td><a th:href="@{/lead/{leadId}/send-email(leadId=${lead.id})}">Send Mail</a></td>
                        <td><a th:href="@{/lead/{leadId}/send-message(leadId=${lead.id})}">Send SMS</a></td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="w-50">
            <div class="w-100 border bg-light">
                <h1 style="text-align: center;">User Tasks</h1>
            </div>
            <div class="w-100 border" style="height:40vh; overflow:scroll;">
                <table class="table table-hover table-sm">
                    <thead>
                    <tr>
                        <th scope="col">Task</th>
                        <th scope="col">Description</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="task :${tasks}">
                        <td th:text="${task.taskName}"></td>
                        <td th:text="${task.taskDescription}"></td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="#" th:href="@{/viewMyTasks}">
                                View
                            </a>
                        </td>
                    </tr>

                    </tbody>
                </table>

            </div>
        </div>
        <div class="w-50">
            <div class="w-100 border bg-light">
                <h1 style="text-align: center;">User Deals</h1>
            </div>
            <div class="w-100 border" style="height:40vh; overflow:scroll;">
                <table class="table table-hover table-sm">
                    <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Lead</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="deal :${deals}">
                        <td class="text-success" th:if="${deal.status}" th:text="${deal.dealName}"></td>
                        <td class="text-success" th:if="${deal.status}" th:text="${deal.worth}"></td>
                        <td class="text-success" th:if="${deal.status}" th:text="${deal.lead.name}"></td>
                        <td class="text-danger" th:if="${!deal.status}" th:text="${deal.dealName}"></td>
                        <td class="text-danger" th:if="${!deal.status}" th:text="${deal.worth}"></td>
                        <td class="text-danger" th:if="${!deal.status}" th:text="${deal.lead.name}"></td>
                        <td class="text-success" th:if="${deal.status}" th:text="'Success'"></td>
                        <td class="text-danger" th:if="${!deal.status}" th:text="'Pending'"></td>
                        <td th:if="${!deal.status}">
                            <a class="btn btn-warning btn-sm" href="#"
                               th:href="@{/lead/{leadId}/deal/{dealId}/deal-success(leadId=${deal.lead.id},dealId=${deal.id})}">
                                <b>Deal</b>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script crossorigin="anonymous"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>