<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>SALES CRM</title>
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" rel="stylesheet">
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
</head>
<body>
<div th:include="dashboard :: navbar"></div>
<div class="d-flex">
    <div th:replace="dashboard :: sidebar"></div>
    <div class="d-inline-block align-top" style="width:77vw;">

        <h2 class="text-center">VIEW MY TASKS</h2>
        <div class="text-center py-3">
            <img th:src="@{../images/logo.png}" height="100vh" width="100vw">
        </div>


        <div class=" container-fluid table-responsive mt-3">

            <table class="table table-hover table-sm table-bordered">
                <thead>
                <tr class="table-active">
                    <th class="text-nowrap">User ID</th>
                    <th class="text-nowrap">User name</th>
                    <th>Lead</th>
                    <th class="text-nowrap">Task Assigned</th>
                    <th class="text-nowrap">Task Created on</th>
                    <th class="text-nowrap">Task description</th>
                    <th class="text-nowrap">Task Deadline</th>
                    <th class="text-nowrap">Task status</th>
                    <th class="text-nowrap">Edit,delete task</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="task : ${tasks}">
                    <td th:text="${task.user.getId()}"></td>
                    <td th:text="${task.user.getName()}"></td>
                    <td th:text="${task.getLead().getName()}"></td>
                    <td th:text="${task.getTaskName()}"></td>
                    <td th:text="${task.getCreatedAt()}"></td>
                    <td th:text="${task.getTaskDescription()}"></td>
                    <td th:text="${task.getTaskTime()}"></td>
                    <td th:text="${task.getTaskStatus()}"></td>
                    <td><a th:href="@{/editTask/{taskId}(taskId=${task.getId()})}"
                           class="btn btn-info btn-sm mr-2">Edit</a><a
                            th:href="@{/deleteOtherTask/{taskId}(taskId=${task.id})}"
                            class="btn btn-danger btn-sm mr-2">Delete</a></td>
                </tr>
                </tbody>
            </table>
            <div class="mt-4">
                <a th:href="@{/goBack}" class="text-danger">Back to dashboard</a>
            </div>
        </div>


    </div>
</div>

<script crossorigin="anonymous"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>