<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIEW MY TASKS</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div th:include="dashboard :: navbar"></div>
<div class="d-flex">
    <div th:replace="dashboard :: sidebar"></div>
    <div class="d-inline-block align-top" style=" width:77vw;">

        <h2 class="text-center">VIEW MY TASKS</h2>
        <div class="text-center py-3">
            <img th:src="@{../images/logo.png}" height="100vh" width="100vw">
        </div>

        <div class=" container-fluid table-responsive mt-3">
            <div class="form-inline mr-auto mb-2">
                <form th:action="@{/viewMyTasks}">
                    <select class="form-control" onchange="this.form.submit()" th:name="taskStatus">
                        <option disabled="disabled" selected>Task status</option>
                        <option>ASSIGNED</option>
                        <option>IN PROGRESS</option>
                        <option>COMPLETED</option>
                    </select>
                </form>
            </div>
            <table class="table table-hover table-sm table-bordered">
                <thead>
                <tr class="table-active">
                    <th class="text-nowrap">User ID</th>
                    <th class="text-nowrap">User name</th>
                    <th>Lead</th>
                    <th class="text-nowrap">Task Assigned</th>
                    <th class="text-nowrap">Task Created at</th>
                    <th class="text-nowrap">Task description</th>
                    <th class="text-nowrap">Task Deadline</th>
                    <th class="text-nowrap">Task status</th>
                    <th class="text-nowrap">Change status</th>
                    <th class="text-nowrap">Edit,delete task</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="task : ${tasks}">
                    <td class="d-none"></td>
                    <td th:text="${task.user.getId()}"></td>
                    <td th:text="${task.user.getName()}"></td>
                    <td th:text="${task.getLead().getName()}"></td>
                    <td th:text="${task.getTaskName()}"></td>
                    <td th:text="${task.getCreatedAt()}"></td>
                    <td th:text="${task.getTaskDescription()}"></td>
                    <td th:text="${task.getTaskTime()}"></td>
                    <td th:text="${task.getTaskStatus()}"></td>
                    <td>
                        <form th:action="@{/changeTaskStatus}" method="POST">
                            <div class="form-group">
                                <select th:name="taskStatus" onchange="this.form.submit()"
                                        class="form-control form-control-sm">
                                    <option disabled="disabled" selected>Select status</option>
                                    <option>ASSIGNED</option>
                                    <option>IN PROGRESS</option>
                                    <option>COMPLETED</option>
                                </select>
                            </div>
                            <input type="hidden" th:value="${task.getId()}" th:name="taskId" style="display: none;">
                        </form>

                    </td>
                    <td><a th:href="@{/editTask/{taskId}(taskId=${task.getId()})}" class="btn btn-info btn-sm mr-2">Edit</a><a
                            th:href="@{/deleteTask/{taskId}(taskId=${task.id})}"
                            class="btn btn-danger btn-sm mr-2">Delete</a></td>
                </tr>
                </tbody>
            </table>
            <div class="mt-4">
                <a th:href="@{/goBack}" class="text-danger">Back to dashboard</a>
            </div>
        </div>


    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>

<!--<script type="text/javascript">-->

<!--    $('#taskStatus').change(-->
<!--        function() {-->
<!--            $.getJSON("http://localhost:8080/changeTaskStatus", {-->
<!--                taskId: $('#taskId').val(),-->
<!--                ajax: 'true'-->
<!--            },function() {-->
<!--                console.log("success");-->

<!--            });-->
<!--        });-->
<!--</script>-->

</body>
</html>
